body div.mxPopupMenu {
  -webkit-box-shadow: 3px 3px 6px #c0c0c0;
  -moz-box-shadow: 3px 3px 6px #c0c0c0;
  box-shadow: 3px 3px 6px #c0c0c0;
  background: white;
  position: absolute !important;
  border: 3px solid #e7e7e7;
  padding: 3px;

  table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0;

    tr.mxPopupMenuItem {
      color: black;
      cursor: default;
    }
  }

  td.mxPopupMenuItem {
    padding: 3px 30px 3px 10px;
    font-family: Arial;
    font-size: 10pt;
  }

  td.mxPopupMenuIcon {
    background-color: white;
    padding: 0;
  }

  tr.mxPopupMenuItemHover {
    background-color: #eeeeee;
    color: black;
  }

  table.mxPopupMenu hr {
    border-top: solid 1px #cccccc;
  }

  table.mxPopupMenu tr {
    font-size: 4pt;
  }
}
